@font-face{
    font-family: NunitoRegular;
    src: url(../../dist/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face{
    font-family: NunitoBold;
    src: url(../../dist/fonts/Nunito/Nunito-Bold.ttf);
}
@font-face{
    font-family: NunitoExtraBold;
    src: url(../../dist/fonts/Nunito/Nunito-ExtraBold.ttf);
}
@media (min-width: 1200px){
    .container{
        padding-left: 0;
        padding-right: 0;
    }
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    outline: none;
    &:hover,
    &:focus{
        text-decoration: none;
        outline: none;
    }
}

body{
    font-family: NunitoRegular;
    font-size: 16px;
    color: $grey;
}

.hart{
    content: '\2665';

}