// Colors
$white: #fff;
$black: #000;
$purple: #845BB3;
$grey: #5C6673;
$dark-grey: #13203B;
$shadow: #13203B1A;
$shadow-active: #13203B26;
$line: #AAC2E1;
$blue: #7A92F2;
$text-footer: #D2D7DF;
$footer-top-bg: #13203B;
$footer-bottom-bg: #243861;
$scroll: #C1C1C1;
$scroll-bg: #F1F1F1;
$card-border: #AAC2E1;




.purple-bg{
    background: $purple;
}
.footer-top-bg{
    background: $footer-top-bg;
}
.footer-bottom-bg{
    background: $footer-bottom-bg;
}