.footer-section{
    .footer-top{
        padding: 56px 0;
        .footer-box{
            .footer-column{
                .footer-logo{
                    margin-bottom: 30px;
                    @media (max-width: 576px){
                        margin: 0 auto 30px;
                        display: block;
                    }
                }
                h3{
                    padding-top: 21px;
                    margin-bottom: 30px;
                    color: $white;
                    font-size: 18px;
                    line-height: 1.5;
                    font-family: NunitoBold;
                    @media (max-width: 576px){
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
                .footer-txt,
                .footer-link{
                    color: $text-footer;
                    max-width: max-content;
                    display: block;                
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                        @media (max-width: 576px){
                            margin-bottom: 20px;
                        }
                    }
                    @media (max-width: 576px){
                        margin: 0 auto 5px;
                    }
                }
                .footer-link{
                    &:hover,
                    &:focus{
                        color: $white;
                        font-family: NunitoBold;
                    }
                }
                .footer-social{
                    margin-bottom: 16px;
                    max-width: max-content;
                    display: block;
                    p{
                        span{
                            font-size: 24px;
                            &:hover,
                            &:focus{
                                &::before{
                                    color: $white;
                                }
                            }
                        }
                    }
                    @media (max-width: 576px){
                        float: left;
                        width: max-content;
                        margin: 0 10px;
                    }
                }
                &.social-column{
                    @media (max-width: 576px){
                        text-align: center;
                        max-width: max-content;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .footer-bottom{
        .footer-bottom-box{
            padding-top: 10px;
            padding-bottom: 10px;
            p{
                text-align: center;
                color: $white;
                font-size: 12px;
                line-height: 1.5;
            }
        }
    }
    .footer-scroll-up{
        position: relative;
        img{
            position: absolute;
            display: block;
            right: 27px;
            bottom: 56px;
            border-radius: 50%;
            padding: 12px;
            background: $blue;
        }
    }
}