.header-section{
    .header-top{
        .header-logo{
            a{
                img{
                    max-height: 48px;
                    width: auto;
                }
            }
        }
        .header-txt{
            h2{
                font-family: NunitoBold !important;
            }
        }
    }
    .header-bottom{
        .header-navigation{
            .header-navigation-box{
                nav{
                    padding: 0;
                    .navbar-toggler{}
                    .navbar-collapse{
                        .nav-item{
                            .nav-link{
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}